/Meiya/bin/
/Meiya/gen/
/Meiya_Sharesdk_lib/bin/
/Meiya_vitamio_lib/bin/
/Meiya_vitamio_lib/gen/
/Meiya_Sharesdk_lib/gen/
/out
/Meiya_lib/gen/
/Meiya_lib/bin/
/Meiya_actionbarsherlock_lib/bin/
/Meiya_actionbarsherlock_lib/gen/
.metadata


Meiya_actionbarsherlock_lib/.settings/org.eclipse.jdt.core.prefs
Meiya_vitamio_lib/.settings/org.eclipse.jdt.core.prefs

*.iml
.idea
build
.DS_Store
.gradle
local.properties

com_crashlytics_export_strings.xml
crashlytics-build.properties

Meiya_ijkmediaplayer_lib/obj/
Meiya_ijkmediaplayer_lib/.settings
Meiya_ijkmediaplayer_lib/bin/
Meiya_ijkmediaplayer_lib/gen/

Meiya_ijkmediawidget_lib/bin/
Meiya_ijkmediawidget_lib/gen/
Meiya_ijkmediawidget_lib/.settings

